@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

/* style the cards section */
/* style the icons in the cards section */
.bd-custom-icon{
    height: 50px;
    width: 50px;
}
/* style the container cointaining the cards section */
.card-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
/* cards' styles */
.card-item{
    font-family: 'Merriweather';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;
    border-bottom: 0.5px solid #CDC9C9;
    background: #F9F9F9;
}
/* cards' title style */
.card-title{
    font-size: 18px;
}
/* cards' text styles */
.card-text{
    font-size: 14px;
}

/* style the about us section */
.about-us-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    margin: auto;
}
.aboutus-img img{
    height: 353;
    width: 100%;
}
.aboutus-textblock{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto;
}
/* style red-text-underline in about us and contact us sections */
.red-text-underline{
    text-decoration: underline solid #C82424;
    text-underline-offset: 10px;    
}
.aboutus-textblock h2 span{
    color:  #C82424;  
}
.aboutus-textblock h2{
    font-size: 28px;
    font-weight: 700;
}
.list-items li{
    list-style: none;
}
.list-items ul li span{
    color: #6C6C6C;
    margin-left: 10px;
}
/* style checked-square in about us section */
.check-square{
    color: #6C6C6C;
    height: 20px;
    width: 20px;
}
.btn {
    height: 38px;
    border-radius: 5px;
    background-color: #C82424;
    color: #FFFFFF;
    border: none;
    padding: 10px;
}

/* style the video section */
.video-section-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 20px auto;
    gap: 30px;
}
.red-bg-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #C82424;
    color: #F4D3D5;
    padding: 40px 20px;
    
}
.red-bg-text img{
    width: 96px;
    height: 39px;
}
.red-bg-text h2{
    size: 20px;
    color: #FFFFFF;
}
.video-img{
    background-image: url(../imgs/video-img.jfif);
    background-size: cover;
    height: 325px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.video-icon{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.video-icon img{
    height: 80px;
    width: 80px;
}
/* style the contact us section */
.contactus-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0.76) 100%), url(../imgs/contact-bg-img.jfif), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;   
}
.contactus-text{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    color: #FFFFFF;
    padding: 20px 10px;
}
.contactus-means{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* style the first p tags  acting a headers */
.contactus-phone p:nth-of-type(1), .contactus-socials p {
    margin-bottom: 20px;
}
.contactus-text h2{
    font-size: 18px; 
    font-weight: 400;   
}
.contactus-text > p {
    font-size: 13px;
    font-weight: 400;
}
.bottom-social-icons{
    margin: 5px;
}
/* style form */
.contactus-form{
    height: 120vh;
    width: 80%;
    margin: 10px auto
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
    margin: 10px auto;
    padding-bottom: 20px;
}
form p{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 20px;
}
.input-container{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}
.form-icon{
    width: 50px;
    height: 55px;
    color: #FFFFFF;
    padding: 10px;
    background-color: #3F596C;
    border: 0.7px solid #8B8B8B;
    position: absolute;
    top: 0px;    
    left: 0px;       
}
form input{
    height: 55px;
    width: 100%;   
}
input[type="text"], 
input[type="email"],
input[type="number"],
textarea{
    color: #2D2D2D;
    font-size: 18px;
    font-weight: 400;
    padding-left: 70px;
}
input[type="date"]{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding-left: 70px;
    padding-right: 20px;
}
form textarea{
    width: 100%;
    padding-top: 10px;
}



/* style our partners section section */
.ourpartners-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    align-items: center;
    margin: 40px auto;
}
.ourpartners-title{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    align-items: center;
    margin: 20px auto;
}

.ourpartners-title h2{
    font-size: 28px;
}
.partners{
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.partners img{
    height: 30px;
    width: 150px;
}

/* media queries for the tablet*/
@media(min-width: 600px){
    .card-container{
        display: grid;
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }
    /* style the about us section */
    .about-us-container{
        width: 85%;
    }
    /* style the video section */
    .video-section-container{
        width: 75%;
        justify-content: end;
    }
    .red-bg-text{
        padding: 40px;
    }
    .red-bg-text h2{
        size: 30px;
    }
    /* style the contact us section */
    form{
        height: 100vh;
        padding: 20px auto;
        align-items: center;
    }
    .contactus-text h2{
        text-align: center;
        font-size: 30px;        
    }
    .contactus-text > p {
        padding: 20px;
    }
   .contactus-means p:nth-child(2){
        font-size: 25px;
   }
    .form-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 10px;
    }
    .userMessage{
        grid-column: 1/span 2;
        
    }
    /* style our partners section section */
    .ourpartners-container{
        width: 90%;
        gap: 20px;
    }
    .ourpartners-title{
        width: 60%;
    }
    
    .ourpartners-title h2{
        font-size: 28px;
        text-align: center;
    
    }
    .partners{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .partners img{
        width: 150px;
        height: 30px;
    }
}
       

/* media queries for the labtop*/
@media(min-width: 1008px){
    /* style the cards section */
    .card-container{
        display: grid;
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        
    }
    /* style the about us section */
    .about-us-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 90%;
        margin: 40px auto;
    }
    .aboutus-img img{
        height: 558px;
        width: 95%;
    }
    .aboutus-textblock{
        display: flex;
        flex-direction: column;
        
        width: 50%;
        gap: 20px;
        margin: 30px auto;
    }
    .list-items{
        display: flex;
    }
    /* style the video section */
    .video-section-container{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: end;
    }
    .red-bg-text{
        width: 50%;
        height: 480px;
        padding: 0px 40px;
        justify-content: center;
        position: absolute;
        margin-right: 42%;
    }
    .video-img{
        width: 50%;
        height: 517px;
    }
    .red-bg-text h2{
        size: 30px;
    }
    /* style the contact us section */
    
    .contactus-container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        align-items: start;
        padding-bottom: 20px;
        
    }
    .contactus-text{
        width: 45%;
        gap: 20px;
        padding: 0 20px;
        margin-top: 50px;
    }
    .contactus-text h2{
        text-align: left; 
        font-size: 30px; 
        font-weight: 700;
        padding-left: 10px;      
    }
    .contactus-text > p {
        padding: 10px 0;
    }
    .contactus-means{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .contactus-form{
        margin-top: 50px;
        padding-bottom: 100px;
    }
    .form-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
    .userMessage{
        grid-column: 1/span 2;
        height: 214px;
    }
    /* style our partners section section */
    .ourpartners-container{
        width: 90%;
        gap: 20px;
    }
    .ourpartners-title{
        width: 60%;
    }
    
    .ourpartners-title h2{
        font-size: 28px;
        text-align: center;
    
    }
    .partners{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .partners img{
        width: 202px;
        height: 38px;
    }
}  
